<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NavigationBar</title>

</head>
<body>

<nav th:fragment="navbar" class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Data Application Viewer</a>
        </div>
        <ul class="nav navbar-nav">

            <li><a class="nav-link" th:href="@{/home}">Home</a></li>

            <li><a class="nav-link" th:href="@{/patient_list}">Patient List</a></li>

            <li><a class="nav-link" th:href="@{/location_list}">Location List</a></li>

            <li><a class="nav-link" th:href="@{/document_list}">Document List</a></li>

            <form th:action="@{/logout}" method="post">
                <button type="submit" class="btn btn-outline-danger">Logout</button>
            </form>
            
        </ul>
    </div>    
</nav>

</body>
</html>